includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - database/factories
        - routes
    tmpDir: build/phpstan
    checkModelProperties: true
